@import "groups.css";
@import "ministries.css";


@keyframes hoveringText {}

main .name,
main .tags {
    pointer-events: none;
}

.tags {
    font-size: x-small;
}

.tags li {
    display:        inline-block;
    background:     #eee;
    padding:        1px 0.5ch;
    border-radius:  0.25em
}

.tags li.red        {background-color: hsl(  0, 75%, 90%)}
.tags li.orange     {background-color: hsl( 30, 75%, 90%)}
.tags li.yellow     {background-color: hsl( 60, 75%, 90%)}
.tags li.green      {background-color: hsl(120, 75%, 90%)}
.tags li.blue       {background-color: hsl(180, 75%, 90%)}
.tags li.violet     {background-color: hsl(330, 75%, 90%)}
.tags li.black      {background-color: hsl(  0,  0%, 50%); color: #fff}

dt .tags {
    font-weight: normal
}

.group .tags {
    font-size: xx-small;
}
.ministries .tags > li {
    margin-right: 0.5ch;
}

/* .ministries .tags > li {
    white-space: nowrap;
    overflow:    hidden;
    max-width:      5ch;
    text-overflow: clip;
}

.group:hover .ministries .tags > li {
    white-space: normal;
    overflow:    visible;
    max-width:      none;
    text-overflow:  none;
} */


button.new-group,
button.new-ministry {
    display:        block;
    margin-left:    auto
}
