:root {
    --transition-property:
        margin, padding,
        border,
        color, background-color,
        opacity, transform
    ;
}

/* --------------------------------------------------------------- */
/*  Box-sizing reset
 *
 *  Thanks to CSS tricks (again):
 *
 *  https://css-tricks.com/box-sizing/#universal-box-sizing-with-inheritance
 */
html                    { box-sizing: border-box    }
*, *::before, *::after  { box-sizing: inherit       }
/* --------------------------------------------------------------- */


html, body {
    font-family: Helvetica, Arial, sans-serif
}

body > details {
    margin:     0 auto;
    max-width:  120ch;
    border-radius:  1em;
}
body > details[open] {
    box-shadow:     0 1em 1em rgba(0,0,0,0.5);
}
body > details > summary {
    text-align:center;
}
body > details summary * {
    display:    inline-block;
    font-size:  large;
    border-radius: 1em;
}
body > details article {
    padding: 0 1em;
}
body > details article section {
    padding: 0.125em 0.5em;
    border-radius: 0.25em;
}
body > details article section:nth-child(odd) {
    background-color: #eee;
}
body > details article ul {
    list-style-position: inside;
}
body > details article p {
    margin:     1.5;
    line-height:1.67;
}

button {
    font-weight:            bold;
    padding-block:          0.25em;
    padding-inline:         1ch 2ch;
    line-height:            1.0;
}

/* button::first-letter {
    font-size:x-large;
    word-spacing: -1ch;
} */

.controls {
    margin:     0 auto 1em;
}

body > header > * {
    padding:        0.125em 1em;
    border-radius:  0.5em;
    transition: background-color;
    transition-duration: 0.5s;
}
body > header > #deleted {
    padding: 0.125em 3em;
}
body > header > *:hover {
    background-color: #eee;
}


#deleted summary {
    font-size: xx-large
}

del {
    opacity:                0.25;
    text-decoration:        line-through;
    text-decoration-color: red;
}

h1 {
    text-align:center
}

dt {
    font-weight:bold;
}

ul, dd {
    margin:  0;
    padding: 0;
}

.grid {
    display:                grid;
    grid-auto-flow:         dense;
    /*  Flexible grid that adds columns as space grows */
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

    column-gap:             1.5em;
}

.flex {
    display:    flex;
    flex-wrap:  wrap;
    justify-content: space-around;
}

.flex > details {
    flex-grow: 1fr
}
