html, body {
    font-family: Helvetica, Arial, sans-serif
}

del {
    opacity: 0.25;
    text-decoration: line-through;
    text-decoration-color: red;
}

h1 {
    text-align:center
}

dt {
    font-weight:bold;
}

ul, dd {
    margin: 0;
    padding: 0;
}

div, ul, li, dl, dt, dd, main {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-auto-flow:  dense;
    /*  Flexible grid that adds columns as space grows */
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    column-gap: 1.5em;
}

.group,
.group .ministries,
.group .ministries .ministry,
.group .ministries .ministry.sort-target,
.group .ministries .ministry::before,
.group .ministries .ministry::after,
.group .subgroups,
.group .subgroups .group {
    transition-property:        margin, padding, border, color, opacity, background-color, transform;
    transition-duration:        0.125s;
    transition-timing-function: cubic-bezier(0.0, 1.0, 0.5, 1.0); /* a super-strong ease-out */
}

.ministry {
    padding:            0.25em ;
    list-style-position: inside;
    list-style-type:    none;
    background-color: lightyellow;
    border:             1px solid darkred;
    border-radius:      0.5ch;


}

.ministry,
.group {
    margin:  0.25em;
}

.group {
    padding: 0;
    box-shadow: 1ex 1ex 1ex -0.5ch rgba(0,0,0, 0.5);
    border:     1px solid black;
    border-radius: 0.5ch 1em 1em;
}

.group dt {
    padding:        0.5em;
    max-width:      25ex;
    border:         0 solid black;
    border-width:   0 1px 1px 0;
    border-bottom-right-radius: 1em;
}

.group .ministries,
.group .subgroups {
    margin:         0;
    padding:        1.5em 1ex;
    min-height:     1em;
    border-radius:  inherit;
}

.ministries .ministry.sort-target,
.ministries .ministry.sort-target ~ .ministry {
    /* margin-top: 1.5em; */
    transform: translateY(1.5em)
}

/* .ministries .ministry.sort-target::before {
    display:        list-item;
    opacity:        0.5;
    background:     #eee;
    border-radius:  0.25em;
    border:         0.25em dashed #aaa;
    content:         "↬";

    position: relative;
    top:    -1.5em;
    left:   -0.5em;

    margin:  0 0 1.5em 0;
    padding: 0;
} */

body.isValid {
    background-color: #eee;
}

/*-------------------------------------------------------
 *  Drag & Drop styles
 */
@keyframes validDropzone {
    0% {
        border: 5px dashed orange
    }

    100% {
        border: 5px dashed transparent
    }
}

*[draggable],
*[draggable="true"] {
    cursor: grab;
    /* transition-property: opacity, transform, background-color;
    transition-duration: 0.125s;
    transition-timing-function: ease-out; */
}

.dragging {
    transform:          scale(1.05);
    transform-origin:   50% 0%;
    box-shadow:         0 1em 1em -0.5em rgba(0,0,0, 0.5);
    user-select:        none;
}

.dropzone {
    transition-property: opacity, transform, background-color;
    transition-duration: 0.125s;
    transition-timing-function: cubic-bezier(0.0, 1.0, 0.5, 1.0); /* a super-strong ease-out */;
}

.dropzone.isValid {
    transform: scale(1.025);
    animation: validDropzone 0.5s ease-in-out infinite alternate;
}
